body{
    width: 100%;
    height: 100vh;
    font-family: "Anton", sans-serif;
    margin: 0;
    background:  	#122025;
    color: #f9f9f3;
}
    
header {text-align: center;
font-family: "Anton", sans-serif;
color: #f78536;
font-size: 30pt;
background: #182930 ;}

#link3 {text-align: center;
color: #f78536;
padding-left: 250px;}

ol,ul {
	list-style: none;
}

#mainMenu {
	margin-left: 175px;
	width:900px;
	font-family: 'Antonio', sans-serif;
}
#mainMenu li {
	display:block;
	width: 175px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#dfebed;
	color: #122025;
}

#mainMenu a:hover {
	background-color:#f78536;
	color:#fff;
}

#aboutus {display: float;
text-align: center;
font-family: 'Antonio', sans-serif;
color: #dfebed;
padding: 0;
margin:0;
font-size: 20px;}

.content {border: 5px #f78536;
margin-left: 300px;
margin-right: 300px;}

.content {
    padding: 50px;
   
}

h1 {text-align: center;
color: #f78536;
font-family: 'Antonio', sans-serif;}

#Click1 {text-align: center;
color: #dfebed;
font-family: 'Antonio', sans-serif;}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 60px;
  background-color: #122025;
  padding-left: 200px;
}

.grid-item {
    background-color: #f78536(255, 255, 255, 0.8);
    border: 1px solid #f78536(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
}


.footer {
    padding: 10px;
    font-family: arial;
    text-align: center;
    color: #dfebed;
  }

